<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    </head>
    <body>
        <h1>Nutriton Calculator</h1>
        <hr>
        <form>
            Please enter a food or ingredient:
            <input type="text" name="food">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>