<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
    <body>
        <h1>Nutriton Infomation</h1>
        <hr>
        <ul>
            <% for(var i=0; i<infos.length; i++) {%>
                <li><%= infos[i] %></li>
                <% } %>
        </ul>
    </body>
</html>
